body{
	background-color: #15110e;
}
.container{
	width: 100%;
	height: auto;	
}
.header{
	width: 96%;
	height:auto;
	margin: auto;
}
.header img{
	height: auto;
	margin-top: 0%;
	width:20%;
	float: left; 			 
}
.heading1{
	float: left;
	display: inline-block;
}	
.nav{	
	font-size: 20px;
	float: right;
}
.nav li{
	display: flex;
   	display: inline-block;   	
   	padding: 50px;
   	padding-bottom: 0%;
    padding-top: 12%;
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	background-color: yellow;
	padding:10px;
}
.banner1{
	width: 96%;
	margin: 0 auto;
}
.banner1 img{
	width: 100%;
	height:auto;
}
.content1{
	width:96%;	
	background-color:#e0ddd6 ; 
	margin: 0 auto;
	display: flex;
}
.space1{
	width:33.333%;
	padding: 36px;
	border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}
.button1{
  background-color: black;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
.space2{
	width:33.3333%;
	padding: 36px;
	border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.space3{
	width:33.3333333%;
	padding: 36px;
	border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}


.content2{
	width:96%;
	display: flex;
	color: white;
	margin-top: 5%;
	margin: 0 auto;
	padding: 36px;
}
.content2 h1{
	margin-left: 20%;
}
.h{
 margin-left: 20%;
}
.content3{
	width:96%;
	height: auto;
	display: flex;
	background-color:#0d0c0a;
	margin: 0 auto;
}
.space31{
	width:33.3333333%;
	padding-left: 45px; 
}
.first{
	color: orange;
}
.para1{
	font-weight: bold;
	color: white; 
}
.para11{
	color: white;
	text-align: left;
	width:30%;
}
.second{
	color: green;
}
.para2{
	font-weight: bold;
	color: white; 
}
.button4{
	background-color: orange;
	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}
.button5{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.third{
	color:#15f4EE;
}
.button6{
  background-color: #15f4EE; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.para31{
	word-wrap: break-word;
	color: white;
}
.space1::first-letter{
  font-size: 50px;
  color: white;
  background-color: orange;
  width:5%;
}
.space2::first-letter { 
  font-size: 50px;
  color: white;
  background-color: green;
  width:5%;
}
.space3::first-letter { 
  font-size: 50px;
  color: white;
  background-color:#15f4EE;
  width:5%;
}