.Header{
	width: 100%;
	height:auto;

}
.sub1{
	width: 50%;
	height:auto;
	 }	
.sub2{
	width: 50%;
	height:auto;
	float:right;
	margin-top:-2%; 
}	
.sub1 img{ 
	width:auto;
	height: auto;
	margin-left: 40%;
}
.banner img{	
	width: 100%;
	height: auto;
}         
.content{
	width: 100%;
	height:auto;
}
.left{
	width:40%;
	height: auto;
	float:left;
}	
.heading{
	margin-left: 40%;
}		
.table{
	margin-left: 40%;
}
.button{
	background-color: green;
}
input{
	border: 1px solid black;
}
textarea{
	border: 1px solid black
}
.right{
		width:46.21%;
		float:left;
}
.one{
	width:20%;
	float:left;
	margin-top: 0.5%;
}
.rtheading{
	 width:20%;
	 float:left;
}
.subhead1{
	margin-top: 20%;
	float: left;
	margin-top: 15%;
}	
.teaset{
	margin-top: -9%;
}
.two{
	width:20%;
	float:left;
	margin-left: 20%;
}		
.subhead2{
	margin-top: 37%;
	float:left;	
	margin-top: 15%;
}	
.three{
	width:20%;
	float:left;
	margin-left: 20%;
	margin-top: -0.1%;
}
